<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>minPrice</key>
		<real>18</real>
		<key>selfMade</key>
		<integer>2</integer>
		<key>mealsType</key>
		<integer>1</integer>
		<key>maxPrice</key>
		<real>28</real>
		<key>name</key>
		<string>麻辣香锅</string>
		<key>taste</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>minPrice</key>
		<real>6</real>
		<key>selfMade</key>
		<integer>0</integer>
		<key>mealsType</key>
		<integer>1</integer>
		<key>maxPrice</key>
		<real>15</real>
		<key>name</key>
		<string>豚骨面</string>
		<key>taste</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>minPrice</key>
		<real>5</real>
		<key>selfMade</key>
		<integer>2</integer>
		<key>mealsType</key>
		<integer>1</integer>
		<key>maxPrice</key>
		<real>10</real>
		<key>name</key>
		<string>麻辣烫</string>
		<key>taste</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>minPrice</key>
		<integer>5</integer>
		<key>selfMade</key>
		<integer>2</integer>
		<key>mealsType</key>
		<integer>1</integer>
		<key>maxPrice</key>
		<integer>10</integer>
		<key>name</key>
		<string>酸辣粉</string>
		<key>taste</key>
		<integer>1</integer>
	</dict>
	<true/>
</array>
</plist>
